html,
body,
.app {
  height: 100%;
}
body {
  background-color: #000;
  color: #eee;
  padding: 0;
  margin: 0;
  height: 100%;
  font: 12px sans-serif;
}
.app {
  width: 100%;
}
.app a {
  color: #ccc;
  font-weight: bold;
}
.app p {
  font-size: 1.25em;
  line-height: 1.5em;
}
.app h1 {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  background-color: #888;
  color: #000;
  text-align: center;
}
.app h1 button {
  display: block;
  position: absolute;
  border: none;
  border-radius: 0;
  background: #888;
  width: 50px;
  height: 50px;
  font-size: 1em;
}
.app h1 button.back {
  left: 0;
  top: 0;
  border-right: 1px solid #000;
}
.app h1 button.help {
  right: 0;
  top: 0;
  border-left: 1px solid #000;
}
.app.home button.back {
  display: none;
}
.app.help button.help {
  display: none;
}
.app.startup button {
  display: none;
}
.app section.main {
  height: 100%;
}
.app section.main .startupView {
  margin-top: 50px;
}
.app section.main .workoutList {
  margin-top: 50px;
}
.app section.main .workoutList ul.workouts {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.app section.main .workoutList ul.workouts li.workout {
  cursor: pointer;
  min-height: 50px;
  margin: 1em 0 0 0;
  padding: 0 0 1em 0;
  border-bottom: 1px solid #666;
}
.app section.main .workoutList ul.workouts li.workout .title {
  display: block;
  text-align: center;
  font-family: monospace;
  font-size: 1.5em;
}
.app section.main .workoutList ul.workouts li.workout.finished .title {
  color: #666;
}
.app section.main .workoutList ul.workouts li.workout.finished .title:after {
  content: "\00a0\2713";
  color: #3f3;
  font-size: 0.85em;
  margin-right: -1em;
}
.app section.main .workoutList ul.workouts li.workout .workoutBar {
  display: block;
  width: 85%;
  height: 25px;
  margin: 0.25em auto 0.25em auto;
}
.app section.main .helpView {
  margin-top: 50px;
  padding: 1em 2em;
}
.app section.main .helpView p code {
  border-radius: 0;
  background: #888;
  padding: 0 0.5em;
  color: #000;
  font-weight: bold;
}
.app section.main .workoutView {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.app section.main .workoutView h2 {
  margin: 0.5em 0 0 0;
  padding: 0;
  text-align: center;
  font-family: monospace;
  font-size: 2em;
}
.app section.main .workoutView section.bar {
  width: 100%;
  height: 100px;
}
.app section.main .workoutView section.timers {
  width: 100%;
  margin: 2em 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-around;
}
.app section.main .workoutView section.timers .timer {
  display: block;
  flex-grow: 1;
  font-size: 1.25em;
  text-align: center;
  font-family: monospace;
  border: 1px solid #fff;
  margin: 0 0.5em;
  padding: 0.5em 0.25em;
  text-align: center;
}
.app section.main .workoutView section.timers .timer .title {
  display: block;
  font-size: 0.75em;
}
.app section.main .workoutView section.timers .timer.current {
  font-size: 2.5em;
}
.app section.main .workoutView audio {
  display: none;
}
.app section.main .workoutView footer {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #666;
  color: rgba(204,0,0,0);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}
.app section.main .workoutView footer button {
  background: #666;
  flex-grow: 1;
  font-size: 2em;
  border: 1px solid #000;
  border-radius: 0;
  whitespace: no-wrap;
}
.app section.main .workoutView footer button.playpause {
  width: 50px;
}
.app section.main .workoutView footer button.playpause span {
  display: none;
}
.app section.main .workoutView.running footer button.playpause {
  color: #f44;
}
.app section.main .workoutView.running footer button.playpause:before {
  content: '\2589';
}
.app section.main .workoutView.stopped footer button.playpause {
  color: #4f4;
}
.app section.main .workoutView.stopped footer button.playpause:before {
  content: '\25ba';
}
