html, body, .app { height: 100% }

body {
  background-color: #111;
  color: #eee;
  padding: 0;
  margin: 0;
  height: 100%;
  font: 12px sans-serif;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.app h1 {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: #111;
  text-align: center;
}

.app footer {
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: #111;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

.app .main .workout {
  display: block;
  width: 100%;
  height: 100px;
}

.app .main .timer {
  display: block;
  font-size: 1.5em;
  margin: 1em;
  text-align: center;
  font-family: monospace;
}

.app .main .timer.current {
  font-size: 3.0em;
}
.app .main .timer.current .title {
  display: block;
}

.app footer button {
  flex-grow: 1;
  font-size: 2em;
}

.app.running footer button.playpause {
  color: red;
}

.app.stopped footer button.playpause {
  color: green;
}
